header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    font-family: var(--common-font-medium);
    color: var(--color-font);
    transition: color 0.4s ease;
    font-size: 1.1rem;

}

nav a:hover {
    color: var(--color-pink);
}

#logo {
    width: 100px;
}