.container-third-section-home {
    text-align: center;
    margin-top: 80px;
}

.container-third-section-home h2 {
    font-family: var(--font-title);
    color: var(--color-font);
    font-size: 2rem;
}

.first-container h3, .second-container h3 {
    color: var(--color-blue);
    font-family: var(--font-title);
    font-style: italic;
    font-size: 1.3rem;
}

.first-container img, .second-container img {
    width: 450px;
}

.first-container, .second-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.second-container {
    margin-bottom: 40px;
}

.box-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    height: 100%;
    text-align: left;
}

.box-text p {
    line-height: 1.8;
    font-family: var(--common-font);
    color: var(--color-grey);
}

